name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
      - dev
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
      - dev
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  build-and-test:
    name: Testing on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.14"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        # setuptools_scm requires a non-shallow clone of the repository
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

      # See https://bugreports.qt.io/browse/PYSIDE-1461
      # and https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions
      # Only executed on linux
    - name: Install Qt libraries for Github CI
      uses: tlambert03/setup-qt-libs@v1

    - name: Install Python package
      run: python -m pip install --no-cache-dir .[tests]

    - name: Install example entrypoints
      run: |
        cd example
        python -m pip install --no-cache-dir .

    - name: Run Python tests
      run: python -m pytest
